%dt project
%dd
  - if ( !isset( $defaultProject ) )
    - $defaultProject = 'en.wikipedia.org'
  - $defaultProjectMsg = "<code>$defaultProject</code> (" . strtolower( $I18N->msg( 'default' ) ) . ") "
  = $I18N->msg( 'url-structure-project', [ 'variables' => [ $defaultProjectMsg, $sitematrixLink ], 'parsemag' => true ] )
