%dt autolog
%dd
  - $logOption = '"' . $I18N->msg( 'logarithmic-scale' ) . '"';
  = $I18N->msg( 'url-structure-autolog', array( 'variables' => array( '<code>false</code>', $logOption ), 'parsemag' => true ) )
