{% extends 'base.html.twig' %}

{% block importmap %}
	{{ importmap( 'pageviews' ) }}
{% endblock %}

{% block body %}
	<main class="app-container">
		<div class="app-progress-bar">
			<div>{{ msg( 'loading' ) }}</div>
			<div class="cdx-progress-bar" role="progressbar">
				<div class="cdx-progress-bar__bar"></div>
			</div>
		</div>
	</main>
{% endblock %}
