@import '../shared';
@import '../chart_view';

.search-method-options {
  display: none;
}

.legend-block {
  h5 .text-muted {
    display: none;
    margin: 0 6px;
  }

  &--statistics h5 .text-muted {
    display: inline;
  }
}

.page-selector .radio:first-of-type {
  margin-top: 0;
}
