body {
  overflow-x: hidden;
}

.aqs-row {
  padding-bottom: 10px;
}

.aqs-article-selector,
.select2-container {
  width: 100% !important;
}

.chart-container {
  min-height: 100px;
}

a:focus {
  color: #337ab7;
  text-decoration: none;
}

.daterange-notice {
  clear: both;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 6px;
}

.options select {
  display: block;
  width: 100%;
}

.modal-body strong {
  display: block;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-dropdown {
  border-color: #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

header {
  margin-bottom: 20px;
  margin-top: 10px;
}

.site-notice-wrapper {
  display: none;
}

footer {
  display: block;
  font-family: sans-serif;
  margin: 40px 0 20px;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.heart {
  color: #fe875e;
}

.ad-block-notice {
  margin-top: 20px;
}

.mono {
  font-family: Consolas, Lucida Console, monospace;
}

.loading::after {
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-name: spin;
  border: 3px solid #ccc;
  border-radius: 50%;
  border-top-color: transparent;
  bottom: 0;
  content: '';
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.error-message {
  color: #fe875e;
  margin-bottom: 12px;
}
.error-message ul {
  margin: 0;
}

.intro {
  margin-top: 20px;
}

.dl-horizontal dt,
.dl-horizontal dd {
  margin-bottom: 10px;
}

.aqs-chart {
  margin-left: -12px;
}

.date-latest {
  float: right;
}

.line-legend {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 3px;
  padding: 0;
}
.line-legend li {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 15px;
}
.line-legend .indic {
  border-radius: 3px;
  display: inline-block;
  padding: 0 5px;
}

.bar-legend {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 3px;
  padding: 0;
}
.bar-legend li {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 15px;
}
.bar-legend .indic {
  border-radius: 3px;
  display: inline-block;
  padding: 0 5px;
}

.pie-legend {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 3px;
  padding: 0;
}
.pie-legend li {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 15px;
}
.pie-legend .indic {
  border-radius: 3px;
  display: inline-block;
  padding: 0 5px;
}

.doughnut-legend {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 3px;
  padding: 0;
}
.doughnut-legend li {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 15px;
}
.doughnut-legend .indic {
  border-radius: 3px;
  display: inline-block;
  padding: 0 5px;
}

.radar-legend {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 3px;
  padding: 0;
}
.radar-legend li {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 15px;
}
.radar-legend .indic {
  border-radius: 3px;
  display: inline-block;
  padding: 0 5px;
}

.polararea-legend {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 3px;
  padding: 0;
}
.polararea-legend li {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 15px;
}
.polararea-legend .indic {
  border-radius: 3px;
  display: inline-block;
  padding: 0 5px;
}

.modal-chart-type {
  display: inline-block;
  margin-right: -4px;
  padding: 10px;
  text-align: center;
  width: calc(100% / 3);
}
.modal-chart-type img {
  height: 100%;
  width: 100%;
}

.data-links {
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  position: relative;
}

.lang-group .dropdown-menu {
  max-height: 194px;
  overflow-y: scroll;
}

.agents-ul {
  list-style-type: disc;
  padding-left: 20px;
}

.color-label {
  width: 100%;
}

.color-tile {
  display: inline-block;
  height: 20px;
  width: 10%;
}
