# https://EditorConfig.org

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# tab indentation
[*.{js,json,php,less,html}]
indent_style = tab
indent_size = 4
