.DS_Store
log/
tmp/
*.js.map
*.scssc
*.ruby-version
node_modules/
config.php
vendor/composer
vendor/krinkle
vendor/psr
vendor/whichbrowser
vendor/autoload.php
vendor/mthaml
vendor/symfony
reports/
*.jar
false-positives
.idea/
i18n_helper.js

