.DS_Store
log/
tmp/
*.js.map
*.scssc
*.ruby-version
node_modules/
config.php
composer.lock
vendor/composer
vendor/krinkle
vendor/psr
vendor/whichbrowser
vendor/autoload.php
vendor/mthaml
reports/
*.jar
jsdocs/gen/
