{
  "rules": {
    "color-no-invalid-hex": true,
    "font-family-no-duplicate-names": true,
    "font-family-no-missing-generic-family-keyword": true,
    "function-calc-no-invalid": true,
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "string-no-newline": true,
    "unit-no-unknown": true,
    "property-no-unknown": true,
    "keyframe-declaration-no-important": true,
    "declaration-bang-space-before": "always",
    "declaration-bang-space-after": "never",
    "block-no-empty": true,
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": true,
    "media-feature-name-no-unknown": true,
    "comment-no-empty": true,
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "no-empty-source": true,
    "no-extra-semicolons": true,
    "no-invalid-double-slash-comments": true,
    "length-zero-no-unit": true,
    "value-no-vendor-prefix": true,
    "declaration-block-no-duplicate-properties": true,
    "selector-max-empty-lines": 0,
    "selector-max-id": 1,
    "selector-no-vendor-prefix": true,
    "max-nesting-depth": 3,
    "no-unknown-animations": true,
    "color-named": "never",
    "color-hex-case": "lower",
    "font-family-name-quotes": "always-where-recommended",
    "shorthand-property-no-redundant-values": true,
    "function-comma-newline-after": "never-multi-line",
    "function-comma-newline-before": "never-multi-line",
    "function-comma-space-after": "always",
    "function-max-empty-lines": 0,
    "function-name-case": "lower",
    "function-parentheses-newline-inside": "never-multi-line",
    "function-parentheses-space-inside": "never",
    "function-url-quotes": "always",
    "function-whitespace-after": "always",
    "number-leading-zero": "never",
    "unit-case": "lower",
    "value-list-comma-newline-after": "never-multi-line",
    "value-list-comma-space-after": "always",
    "value-list-comma-space-before": "never"
  }
}
