%meta{charset: "utf-8"}
%meta{content: 'yes', name: 'apple-mobile-web-app-capable'}
%meta{content: 'black-translucent', name: 'apple-mobile-web-app-status-bar-style'}
%meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0', name: 'viewport'}
%script{src: "application.js"}
%link{rel: "stylesheet", href: "application.css"}
