%span.btn-group.dropup.lang-group
  %button.btn.btn-default.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
    = $currentLang
    %span.caret
  %ul.dropdown-menu
    %li
      %a(href="https://translatewiki.net/w/i.php?title=Special:MessageGroupStats&group=out-pageviews")
        = $I18N->msg( 'help-translate' )
    %li.divider(role="separator")
    - foreach (array_unique($langs) as $lang => $langName)
      %li
        %a.lang-link(href="#" data-lang="#{$lang}")= $langName
