/ Pageviews Comparison tool
/ Original code forked from https://gist.github.com/marcelrf/49738d14116fd547fe6d courtesy of marcelrf
/ Copyright 2016 MusikAnimal
/ Redistributed under the MIT License: https://opensource.org/licenses/MIT
!!!
%html
  %head
    = Haml::Engine.new(File.read(Dir.pwd + '/views/_head.haml')).render
    %title Pageviews Analysis

  %body
    %div.container
      %div.col-lg-offset-2
        / Header
        %header.row.aqs-row
          %div.col-lg-10.text-center
            %h4
              %strong
                Pageviews Analysis

        / Site notice
        %div.col-lg-10.text-center.site-notice-wrapper
          %div.site-notice

        %div.row.aqs-row.options
          / Date range selector
          %div.col-lg-4
            %label{for: "range-input"} Dates
            %span.date-latest
              Latest
              %a{href: '#', "data-value": '10'} 10
              %a{href: '#', "data-value": '20'} 20
              %a{href: '#', "data-value": '30'} 30
              %a{href: '#', "data-value": '60'} 60
              %a{href: '#', "data-value": '90'} 90
              days
            %input#range-input.form-control.aqs-date-range-selector

          /  Project selector
          .col-lg-2
            %label{for: "project-input"} Project
            %input#project-input.form-control.aqs-project-input{placeholder: "en.wikipedia.org"}/

          / Advanced options
          .col-lg-2
            %label{for: "platform-select"} Platform
            %select#platform-select.form-control
              %option{value: "all-access"} All
              %option{value: "desktop"} Desktop
              %option{value: "mobile-app"} Mobile app
              %option{value: "mobile-web"} Mobile web
          .col-lg-2
            %label{for: "agent-select"} Agent
            %select#agent-select.form-control
              %option{value: "all-agents"} All
              %option{selected: "selected", value: "user"} User
              %option{value: "spider"} Spider
              %option{value: "bot"} Bot

        / Article selector
        .row.aqs-row
          .col-lg-10
            %label{for: "article-input"} Pages
            / Button trigger modal
            / %a.pull-right{href: "#", "data-toggle": "modal", "data-target": "#import-modal"}
            /   Import
            %select#article-input.aqs-article-selector.col-lg-12{multiple: "multiple"}

        / Chart
        .chart-container.col-lg-10.loading
          / inline styles since the ad blocker might block loading of assets
          .ad-block-notice.text-center
            Chart not appearing? Please ensure you have all ad blockers disabled or have
            %span{style: "font-family: Consolas, Lucida Console, monospace;"} /pageviews/*
            whitelisted.
          %canvas.aqs-chart

        .message-container.col-lg-10

        / Legend
        #chart-legend.col-lg-10

        / Other links
        .col-lg-10.data-links
          %a{href: "#", "data-toggle": "modal", "data-target": "#chart-type-modal"} Change chart type
          &bullet;
          / %a{href: "#", "data-toggle": "modal", "data-target": "#settings-modal"} Settings
          / &bullet;
          Download as
          %a.download-csv{href: "#"} CSV
          \&middot;
          %a.download-json{href: "#"} JSON

        = Haml::Engine.new(File.read(Dir.pwd + '/views/_footer.haml')).render
        = Haml::Engine.new(File.read(Dir.pwd + '/views/_modals.haml')).render
