!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: 'yes', name: 'apple-mobile-web-app-capable'}
    %meta{content: 'black-translucent', name: 'apple-mobile-web-app-status-bar-style'}
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0', name: 'viewport'}
    %title Pageviews Analysis – FAQ
    %link{rel: "stylesheet", href: "../application.css"}
  %body
    %div.container
      %div.col-lg-offset-2
        / Header
        %header.row.aqs-row
          %div.col-lg-10.text-center
            %h4
              %strong
                Pageviews Analysis

        %div.col-lg-10
          To get the latest data on a given article on your wiki, with default options, use:
          %pre
            :preserve
              //tools.wmflabs.org/pageviews#project=en.wikipedia.org&pages={{FULLPAGENAMEE}}
          replacing <code>en.wikipedia.org</code> with a valid <a href="https://meta.wikimedia.org/w/api.php?action=sitematrix&formatversion=2">project</a>. <code>{{FULLPAGENAMEE}}</code> will resolve to the page the link is placed on

          %p.intro
            Pageviews Analysis uses the JavaScript <a href="https://en.wikipedia.org/wiki/Fragment_identifier">fragment identifier</a> to construct the URL parameters. This means instead of <code>?</code> all parameters follow a hashmark <code>#</code>

        %div.col-lg-10
          %h3
            Parameters
            %small Can be used in any order
          %hr

          %dl.dl-horizontal
            %dt project
            %dd
              %code en.wikipedia.org
              (default) or other valid <a href="https://meta.wikimedia.org/w/api.php?action=sitematrix&formatversion=2">project</a>
            %dt pages
            %dd
              Escaped page names separated by a pipe <code>|</code> such as <code>Cat|Dog</code> (default)
              %br
              For linking to the current page on wiki, use <code>{{FULLPAGENAMEE}}</code>
            %dt start
            %dd
              Start date in the format <code>YYYY-MM-DD</code>, defaults to 20 days ago
              %br
              Omit this parameter and the <code>end</code> parameter to show the most recent data
            %dt end
            %dd
              End date in the format <code>YYYY-MM-DD</code>, defaults to current date
            %dt platform
            %dd
              One of <code>user</code> (human viewer, default), <code>spider</code> (search engine crawlers), <code>bot</code> (WMF bots) or <code>all-agents</code> (user, spider and bot)

        %div.col-lg-10.text-center
          %hr
          %a{href: "/pageviews"} Return to Pageviews Analysis

        %footer.col-lg-10
          %span
            Brought to you by
            %a{href: "https://en.wikipedia.org/wiki/User:MusikAnimal"} MusikAnimal
            and
            = succeed "." do
              %a{href: "https://wikimediafoundation.org/wiki/User:Mforns_(WMF)"} Marcel Ruiz Forns
          %span.nowrap
            Hosted with
            %span.heart &hearts;
            on
            = succeed "." do
              %a{href: "https://wikitech.wikimedia.org/wiki/Portal:Tool_Labs"} Tool Labs
          %div
            %a{href: "https://github.com/MusikAnimal/pageviews"} View source
            &middot;
            %a{href: "https://github.com/MusikAnimal/pageviews/issues"} Report an issue
