!!!
%html
  %head
    - include '../../_head.php'
    %title
      = $I18N->msg( 'redirectviews-title' ) . ' - ' . $I18N->msg( 'faq' )
  %body
    %div.container
      %header.col-lg-12.text-center
        %h4
          %strong
            = $I18N->msg( 'redirectviews-title' )
          %small.app-description
            = $I18N->msg( 'faq' )

      %main.col-lg-10.col-lg-offset-1
        %ul.list-group
          - include "../../faq_parts/redirects.php"
          - include "../../faq_parts/throttle.php"
          - include "../../faq_parts/old_data.php"
          - include "../../faq_parts/todays_data.php"
          - include "../../faq_parts/agents.php"
          - include "../../faq_parts/feedback.php"

        %div.col-lg-12.text-center.tm
          %a(href="/redirectviews")
            = $I18N->msg( 'faq-return-to', array( 'variables' => array( $I18N->msg( 'redirectviews-title' ) ), 'parsemag' => true ) )

        - $currentApp = "redirectviews";
        - include "../../_footer.php"
