!!!
%html
  %head
    = Haml::Engine.new(File.read(Dir.pwd + '/views/_head.haml')).render
    %title Topviews Analysis
  %body
    %div.container
      %div.col-lg-offset-2
        / Header
        %header.row.aqs-row
          %div.col-lg-10.text-center
            %h4
              %strong
                Topviews Analysis

        / Site notice
        %div.col-lg-10.text-center.site-notice-wrapper
          %div.site-notice

        %div.row.aqs-row.options
          / Date range selector
          %div.col-lg-4.col-sm-4
            %label{for: "range-input"} Date
            %input#range-input.form-control.aqs-date-range-selector

          /  Project selector
          .col-lg-3.col-sm-4
            %label{for: "project-input"} Project
            %input#project-input.form-control.aqs-project-input{placeholder: "en.wikipedia.org"}/

          / .col-lg-3
          /   %label{for: "platform-select"} Namespace
          /   %select#platform-select.form-control
          /     %option{value: "all"} All
          /     %option{value: "1"} Main
          /     %option{value: "2"} Mobile app
          /     %option{value: "3"} Mobile web

          / Advanced options
          .col-lg-3.col-sm-4
            %label{for: "platform-select"} Platform
            %select#platform-select.form-control
              %option{value: "all-access"} All
              %option{value: "desktop"} Desktop
              %option{value: "mobile-app"} Mobile app
              %option{value: "mobile-web"} Mobile web

        / Article selector
        .row.aqs-row
          .col-lg-10
            %label{for: "article-input"} Excluded pages
            %select#article-input.aqs-article-selector.col-lg-12{multiple: "multiple"}

        / Chart
        .chart-container.col-lg-10
        .col-lg-10.text-center
          %a.expand-chart{href: "#"} Show more

        .message-container.col-lg-10

        / Other links
        .col-lg-10.data-links
          %hr
          Download as
          %a.download-csv{href: "#"} CSV
          \&middot;
          %a.download-json{href: "#"} JSON

        = Haml::Engine.new(File.read(Dir.pwd + '/views/_footer.haml')).render
