@import 'mixins';

body.initial { // scss-lint:disable QualifyingElement
  .data-links {
    visibility: hidden;
  }

  // scss-lint:disable ImportantRule
  .output-list,
  .table-view,
  .summary-column,
  .single-page-stats,
  .single-entity-ranking,
  .clear-pages {
    display: none !important;
  }
}

@each $type in ('line' 'bar' 'pie' 'doughnut' 'radar' 'polararea') {
  .#{$type}-legend {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 3px;
    padding: 0;

    li {
      display: inline-block;
      margin-bottom: 3px;
      margin-right: 15px;
    }

    .indic {
      border-radius: 3px;
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.page-selector {
  border-right: solid 1px $light-gray;

  .page-selector--container > div {
    margin-bottom: 10px;
  }
}

.summary-column {
  border-left: solid 1px $light-gray;
}

.remove-page {
  color: $link;
  cursor: pointer;
}

.table-view {
  display: none;
}

.table .table-view--header th {
  vertical-align: top;
}

.table .output-list td {
  vertical-align: middle;
}

.table-view--color-col {
  padding-right: 0;
}

.table-view--color-block {
  display: block;
  height: 16px;
  width: 16px;
}

.table-view--summary-row th {
  // scss-lint:disable ImportantRule
  border-top-width: 2px !important;
}

.single-page-stats {
  margin-top: 5px;

  .text-muted {
    font-weight: normal;
  }
}

.single-entity-ranking {
  font-weight: normal;
  margin-top: 20px;
}

.clear-pages {
  cursor: pointer;
}

.modal-chart-type {
  display: inline-block;
  margin-right: -4px;
  padding: 10px;
  text-align: center;
  width: calc(100% / 3);

  img {
    height: 100%;
    width: 100%;
  }
}

.chart-legend,
.single-page-legend {
  padding: 0;

  hr {
    margin: 10px 0 5px;
  }

  .legend-block {
    padding-bottom: 10px;
  }
}

.linear-legend {
  border-radius: 5px;
  line-height: 15px;
  margin-bottom: 6px;
  overflow: hidden; // to make --label have the same border-radius
  width: 100%;

  a {
    float: none;
  }
}

.linear-legend--totals {
  margin-bottom: 10px;
}

.linear-legend--label {
  margin-bottom: 5px;
  padding: 5px 10px;
  width: 100%;
}

.linear-legend--counts {
  margin-bottom: 5px;
}

.linear-legend--links {
  border-top: solid 1px $gray;
  margin-top: 3px;
  padding: 5px 10px;
}

.latest-group {
  position: absolute;
  right: 0;
  top: -2px;

  .dropdown-menu {
    min-width: auto;
  }
}

.date-selector {
  position: relative;
}

.num-entities-info {
  font-weight: normal;
  margin-left: 10px;
}

.month-selector {
  display: none;

  input {
    text-align: left;
  }
}

.month-selector-start {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 50%;
}

.month-selector-end {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 50%;
}
