@import 'mixins';

// Fix chart position
// .aqs-chart {
//   margin-left: -12px;
// }

@each $type in ('line' 'bar' 'pie' 'doughnut' 'radar' 'polararea') {
  .#{$type}-legend {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 3px;
    padding: 0;

    li {
      display: inline-block;
      margin-bottom: 3px;
      margin-right: 15px;
    }

    .indic {
      border-radius: 3px;
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.modal-chart-type {
  display: inline-block;
  margin-right: -4px;
  padding: 10px;
  text-align: center;
  width: calc(100% / 3);

  img {
    height: 100%;
    width: 100%;
  }
}

.linear-legend {
  background: $white;
  border: solid 1px $gray;
  border-radius: 5px;
  float: left;
  line-height: 15px;
  margin-bottom: 6px;
  margin-right: 6px;
  overflow: hidden; // to make --label have the same border-radius
  width: calc(100% / 3 - 4px);

  &:nth-child(3n) {
    margin: 0;
  }

  a {
    float: none;
  }
}

.linear-legend--totals {
  margin-bottom: 10px;
}

.linear-legend--label {
  padding: 5px 10px;
  width: 100%;
}

.linear-legend--counts {
  padding: 5px 10px 0;
}

.linear-legend--links {
  padding: 5px 10px;
}

.logarithmic-scale,
.begin-at-zero {
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 10px;
}
