@import 'mixins';
@import 'bootstrap';

.data-links {
  display: none;
}

main {
  &.processing {
    form {
      @extend %disabled;
    }

    // Hide typeahead should it show up after they've submitted
    .typeahead {
      display: none !important; // scss-lint:disable ImportantRule
    }

    .progress-bar--wrapper {
      display: block;
    }

    .throttle-notice {
      display: block;
    }
  }

  &.complete {
    form {
      @extend %disabled;
      display: none;
      height: 0;
      opacity: 0;
    }

    output {
      @include prefix(transform, translateY(0%));
      opacity: 1;
    }

    .output-header {
      display: block;
    }

    .data-links {
      display: block;
    }
  }

  &.invalid {
    .input-control {
      @extend %disabled;
    }
  }
}

output {
  @include prefix(transform, translateY(500px));
  @include prefix(transition, all 500ms ease);
  opacity: 0;
  padding: 0;

  .output-header {
    display: none;
    margin: 0;
    padding: 0;
  }

  .output-table td {
    position: relative;
  }
}

.list-view,
.chart-view {
  display: none;
}

.list-mode {
  .chart-specific {
    display: none;

    ~ .btn-settings {
      margin: 0;
    }
  }

  .list-view {
    display: table;
  }
}

.chart-mode .chart-view {
  display: block;
}

.sort-link {
  @include prefix(user-select, none);
  cursor: pointer;

  .glyphicon {
    top: 2px;
    visibility: hidden;
  }

  .glyphicon-sort-by-alphabet,
  .glyphicon-sort-by-alphabet-alt,
  .glyphicon-sort-by-order,
  .glyphicon-sort-by-order-alt {
    visibility: visible;
  }

  &:hover {
    .glyphicon-sort {
      visibility: visible;
    }
  }
}

.another-query {
  cursor: pointer;
}

.progress-bar--wrapper {
  display: none;
  float: none;
  margin-top: 50px;
}

.progress {
  margin-bottom: 40px;
}

@media (max-width: $screen-md) {
  .view-options.pull-right {
    float: left !important; // scss-lint:disable ImportantRule
    margin: 10px 0;
  }
}

@media (max-width: 675px) {
  .massviews-params {
    display: block;
    margin-top: 8px;
  }

  .elapsed-time {
    display: block;
    float: none !important; // scss-lint:disable ImportantRule
    margin-top: 10px;
  }

  .lang-group {
    float: left;
    margin-bottom: 15px;
    position: relative;
  }

  .interapp-links {
    clear: both;
  }
}
