$red: #fe875e;
$gray: #ccc;
$light-gray: #e0e0e0;
$bootstrap-darker-gray: #888;
$bootstrap-dark-gray: #ddd;
$bootstrap-gray: #777;
$bootstrap-link-gray: #555;
$bootstrap-nav-gray: #f5f5f5;
$bootstrap-text: #333;
$bootstrap-primary: #337ab7;
$bootstrap-success: #dff0d8;
$bootstrap-info: #d9edf7;
$bootstrap-warning-bg: #fcf8e3;
$bootstrap-warning-text: #8a6d3b;
$bootstrap-danger-bg: #f2dede;
$bootstrap-danger-text: #a94442;
$link: #337ab7;
$flash: #fbf8b2;
$white: #fff;
$black: #000;

@mixin prefix($prop, $val) {
  @each $pre in -webkit-, -moz-, -ms-, -o- {
    #{$pre}#{$prop}: #{$val};
  }
  #{$prop}: #{$val};
}

@mixin center($direction: '', $position: 'absolute') {
  position: unquote($position);

  @if($direction == 'vertical') {
    top: 50%;
    transform: translateY(-50%);
  } @else if($direction == 'horizontal') {
    left: 50%;
    transform: translateX(-50%);
  } @else {
    transform: translate(-50%, -50%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

%disabled {
  opacity: .5;
  pointer-events: none;
}

%loading {
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-name: spin;
  border: 3px solid $gray;
  border-radius: 50%;
  border-top-color: transparent;
  content: '';
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 100px;
  width: 60px;
}
