@import 'mixins';
@import 'bootstrap';

$select2-selection: rgba(255, 255, 255, .8);
$select2-dropdown: rgba(0, 0, 0, .075);
$form-control-bg: rgba(255, 255, 255, .7);
$faq-entry-bg: rgba(255, 255, 255, .5);

$footer-height: 127px;

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  position: relative;

  &::after {
    background: url('images/gradient.png');
    content: '';
    // override Bootstrap
    // scss-lint:disable ImportantRule
    display: block !important;
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.spacer {
  clear: both;
  height: $footer-height;
}

.top-nav {
  border-bottom: 1px solid $bootstrap-dark-gray;
  margin: 0;

  > * {
    vertical-align: middle;
  }
}

.interapp-navigation {
  padding: 0;
}

.home-link {
  background: url('images/logo.svg') no-repeat;
  background-size: 40px;
  display: inline-block;
  height: 40px;
  margin-left: 5px;
  margin-right: 6px;
  position: relative;
  top: 5px;
  width: 40px;
}

.nav-buttons > * {
  bottom: 1px;
  height: 36px;
  margin-right: 6px;
  margin-top: 7px;
  position: relative;

  .btn {
    height: 100%;
  }
}

.site-header {
  margin-top: 0;
  padding: 10px;
}

hr {
  border-color: $light-gray;
}

.app-description {
  display: block;
  margin-top: 8px;
}

.date-latest {
  float: right;
}

input:not([type=radio]),
select {
  // scss-lint:disable ImportantRule
  background: $form-control-bg !important;
}

.select2-selection {
  // scss-lint:disable ImportantRule
  background: $select2-selection !important;
}

.rtl {
  @import 'rtl';
  direction: rtl;
}

// Improve vertical spacing
.aqs-row {
  padding-bottom: 10px;
}

// scss-lint:disable ImportantRule
.aqs-select2-selector {
  display: none;
}

// Avoid select2 collapsing with narrow screens
// scss-lint:disable ImportantRule
.select2-container {
  width: 100% !important;
}

.chart-container {
  clear: both;
  min-height: 100px;
  position: relative;
  width: 100%;
}

a:focus {
  color: $link;
  text-decoration: none;
}

.daterangepicker {
  .calendar {
    display: block !important;
  }

  .ranges {
    float: right !important;
  }
}

.daterange-notice {
  clear: both;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 6px;
  max-width: 645px;
}

.options {
  select {
    display: block;
    width: 100%;
  }
}

.modal-body strong {
  display: block;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-dropdown {
  border-color: $gray;
  box-shadow: inset 0 1px 1px $select2-dropdown;
}

header {
  margin-bottom: 12px;
  margin-top: 10px;
}

footer {
  bottom: 0;
  display: block;
  font-family: sans-serif;
  left: 0;
  min-height: $footer-height;
  position: absolute;
  text-align: center;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.disabled {
  @extend %disabled;
}

.heart {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 12px;
}

.ad-block-notice {
  margin-top: 20px;
}

.mono {
  font-family: Consolas, Lucida Console, monospace;
}

.loading {
  .select2-container,
  .page-selector {
    @extend %disabled;
  }

  .chart-container::after {
    @extend %loading;
  }

  .clear-pages {
    // scss-lint:disable ImportantRule
    display: none !important;
  }

  .data-links {
    visibility: hidden;
  }

  .output {
    display: none;
  }

  .summary-column {
    visibility: hidden;
  }
}

.message-container {
  margin-bottom: 20px;
}

.error-message {
  color: $red;
  margin-bottom: 12px;

  &:last-child {
    margin: 0;
  }

  ul {
    margin: 0;
  }
}

// used on URL structure page
.intro {
  margin-top: 20px;
}

.dl-horizontal dt,
.dl-horizontal dd {
  margin-bottom: 10px;
}

.data-links {
  margin-top: 15px;
  padding: 0 0 15px;

  .btn {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.faq-ul {
  list-style-type: disc;
  padding-left: 20px;
}

.footer-nav {
  position: relative;
}

.lang-group {
  float: none !important;
  position: relative;

  .dropdown-menu {
    background: $white;
    max-height: 194px;
    overflow-y: scroll;
  }

  .btn {
    padding-left: 26px;
  }

  svg {
    height: 15px;
    left: 8px;
    position: absolute;
    top: 9px;
    width: 15px;
  }
}

.bm {
  margin-bottom: 15px;
}

.tm {
  margin-top: 15px;
}

.navbar-nav {
  margin: 0;
}

.navbar-toggle {
  border-color: $bootstrap-dark-gray;
  margin-left: 6px;

  .icon-bar {
    background: $bootstrap-darker-gray;
  }
}

.interapp-links {
  font-size: 15px;

  .active .interapp-link {
    color: $bootstrap-link-gray;
    cursor: default;
    pointer-events: none;

    &:hover::after {
      display: none;
    }
  }
}

.interapp-link {
  &:focus {
    background: transparent !important;
  }

  &:hover {
    background: transparent !important;
    border-color: transparent !important;

    &::after {
      border: solid 2px $gray;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}

.list-group-item {
  background: $faq-entry-bg;
}

.help-link {
  color: $bootstrap-text;

  span {
    vertical-align: -1px;
  }
}

.flash {
  animation: 3s ease-out 1 flash;
}

.none {
  display: none;
}

@keyframes flash {
  0% { background-color: $flash; }
  100% { background-color: none; }
}

.glyphicon-chart {
  background: url('images/glyphicons-42-charts.png');
  background-size: cover;
  height: 14px;
  width: 14px;
}

.view-options--list {
  color: $black;
}

.download-btn-group {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.glyphicon-print {
  margin-right: 4px;
}

.sort-link {
  @include prefix(user-select, none);
  cursor: pointer;

  .glyphicon {
    top: 2px;
    visibility: hidden;
  }

  .glyphicon-sort-by-alphabet,
  .glyphicon-sort-by-alphabet-alt {
    visibility: visible;
  }

  &:hover {
    .glyphicon-sort {
      visibility: visible;
    }
  }
}

.output {
  clear: both;
  overflow-x: auto;
}

@font-face {
  font-family: 'Glyphter';
  src: url('../fonts/Glyphter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: $screen-lg) {
  .summary-column {
    // scss-lint:disable ImportantRule
    border: 0 !important;
    margin-top: 20px;
  }
}

@media (max-width: $screen-sm) {
  .interapp-navigation {
    clear: both;
  }

  .interapp-link:hover::after {
    display: none;
  }

  .home-link {
    display: none;
  }
}

.permalink-copy {
  position: fixed;
  top: -100px;
}

.article-badge {
  height: 20px;
  vertical-align: -5px;
  width: 20px;
}

.chart-toggles label {
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 10px;
}

.chart-buttons {
  display: inline-block;
}

@media (max-width: $screen-sm) {
  .chart-buttons {
    float: left;
  }

  .chart-toggles {
    clear: both;
    float: left;
    margin-top: 6px;
  }
}
