@import 'mixins';
$select2-selection: rgba(255, 255, 255, .8);
$select2-dropdown: rgba(0, 0, 0, .075);
$form-control-bg: rgba(255, 255, 255, .7);
$faq-entry-bg: rgba(255, 255, 255, .5);

body {
  background: url('/pageviews/images/gradient.png');
  overflow-x: hidden;
}

hr {
  border-color: $light-gray;
}

.app-description {
  display: block;
  margin-top: 8px;
}

.date-latest {
  float: right;
}

input,
select {
  // scss-lint:disable ImportantRule
  background: $form-control-bg !important;
}

.select2-selection {
  // scss-lint:disable ImportantRule
  background: $select2-selection !important;
}

.rtl {
  @import 'rtl';
}

// Improve vertical spacing
.aqs-row {
  padding-bottom: 10px;
}

// scss-lint:disable ImportantRule
.aqs-select2-selector {
  display: block;
  height: 34px !important;
}

// Avoid select2 collapsing with narrow screens
// scss-lint:disable ImportantRule
.select2-container {
  width: 100% !important;
}

.chart-container {
  min-height: 100px;
  position: relative;
  width: 100%;
}

a:focus {
  color: $link;
  text-decoration: none;
}

.daterangepicker {
  .calendar {
    display: block !important;
  }

  .ranges {
    float: right !important;
  }
}

.daterange-notice {
  clear: both;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 6px;
  max-width: 645px;
}

.options {
  select {
    display: block;
    width: 100%;
  }
}

.modal-body strong {
  display: block;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-dropdown {
  border-color: $gray;
  box-shadow: inset 0 1px 1px $select2-dropdown;
}

header {
  margin-bottom: 12px;
  margin-top: 10px;
}

footer {
  clear: both;
  display: block;
  font-family: sans-serif;
  margin: 6px 0 20px;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

%disabled {
  opacity: .5;
  pointer-events: none;
}

.disabled {
  @extend %disabled;
}

.heart {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 12px;
}

.ad-block-notice {
  margin-top: 20px;
}

.mono {
  font-family: Consolas, Lucida Console, monospace;
}

.loading::after {
  @extend %loading;
}

.error-message {
  color: $red;
  margin-bottom: 12px;

  &:last-child {
    margin: 0;
  }

  ul {
    margin: 0;
  }
}

// used on URL structure page
.intro {
  margin-top: 20px;
}

.dl-horizontal dt,
.dl-horizontal dd {
  margin-bottom: 10px;
}

.data-links {
  padding-bottom: 15px;

  .btn {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.faq-ul {
  list-style-type: disc;
  padding-left: 20px;
}

.footer-nav {
  position: relative;
}

.lang-group {
  position: absolute;
  right: 0;
  top: 0;

  .dropdown-menu {
    background: $white;
    max-height: 194px;
    overflow-y: scroll;
  }
}

.bm {
  margin-bottom: 15px;
}

.tm {
  margin-top: 15px;
}

.interapp-links {
  font-size: 15px;
}

.list-group-item {
  background: $faq-entry-bg;
}

.help-link {
  color: $bootstrap-text;

  span {
    vertical-align: -1px;
  }
}

.flash {
  animation: 3s ease-out 1 flash;
}

.none {
  display: none;
}

@keyframes flash {
  0% { background-color: $flash; }
  100% { background-color: none; }
}

.glyphicon-chart {
  background: url('/pageviews/images/glyphicons-42-charts.png');
  background-size: cover;
  height: 14px;
  width: 14px;
}

.view-options--list {
  color: $black;
}

.download-btn-group {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.glyphicon-print {
  margin-right: 4px;
}
