$red: #fe875e;
$gray: #ccc;
$link: #337ab7;

body {
  overflow-x: hidden;
}

// Improve vertical spacing
.aqs-row {
  padding-bottom: 10px;
}

// Avoid select2 collapsing with narrow screens
// scss-lint:disable ImportantRule
.aqs-article-selector,
.select2-container {
  width: 100% !important;
}

.chart-container {
  min-height: 100px;
}

a:focus {
  color: $link;
  text-decoration: none;
}

.daterange-notice {
  clear: both;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 6px;
}

.options {
  select {
    display: block;
    width: 100%;
  }
}

.modal-body strong {
  display: block;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-dropdown {
  border-color: $gray;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

header {
  margin-bottom: 20px;
  margin-top: 10px;
}

.site-notice-wrapper {
  display: none;
}

footer {
  display: block;
  font-family: sans-serif;
  margin: 40px 0 20px;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.heart {
  color: $red;
}

.ad-block-notice {
  margin-top: 20px;
}

.mono {
  font-family: Consolas, Lucida Console, monospace;
}

.loading::after {
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-name: spin;
  border: 3px solid $gray;
  border-radius: 50%;
  border-top-color: transparent;
  bottom: 0;
  content: '';
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.error-message {
  color: $red;
  margin-bottom: 12px;

  ul {
    margin: 0;
  }
}
