//
//  Pageviews Comparison tool
//
//  Original code forked from https://gist.github.com/marcelrf/49738d14116fd547fe6d courtesy of marcelrf
//
//  Copyright 2016 MusikAnimal
//  Redistributed under the MIT License: https://opensource.org/licenses/MIT
//

@import 'mixins';

body {
  overflow-x: hidden;
}

a:focus {
  color: $link;
  text-decoration: none;
}

// Add legend colors to article tags
@for $i from 1 through length($tag-colors) {
  .select2-selection__choice:nth-of-type(#{$i}) {
    // scss-lint:disable ImportantRule
    background: nth($tag-colors, $i) !important;
  }
}

// Fix chart position
.aqs-chart {
  margin-left: -12px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-dropdown {
  border-color: $gray;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.date-latest {
  float: right;
}

.options {
  select {
    display: block;
    width: 100%;
  }
}

// Improve vertical spacing
.aqs-row {
  padding-bottom: 10px;
}

// Avoid select2 collapsing with narrow screens
.aqs-article-selector {
  width: 100%;
}

@each $type in ('line' 'bar' 'pie' 'doughnut' 'radar' 'polararea') {
  .#{$type}-legend {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 3px;
    padding: 0;

    li {
      display: inline-block;
      margin-bottom: 3px;
      margin-right: 15px;
    }

    .indic {
      border-radius: 3px;
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.modal-body strong {
  display: block;
}

.modal-chart-type {
  display: inline-block;
  margin-right: -4px;
  padding: 10px;
  text-align: center;
  width: calc(100% / 3);

  img {
    height: 100%;
    width: 100%;
  }
}

header {
  margin-bottom: 20px;
  margin-top: 10px;
}

.site-notice-wrapper {
  display: none;
}

footer {
  display: block;
  font-family: sans-serif;
  margin: 40px 0 20px;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.heart {
  color: $red;
}

.ad-block-notice {
  margin-top: 20px;
}

.mono {
  font-family: Consolas, Lucida Console, monospace;
}

.data-links {
  margin-top: 20px;
}

.loading::after {
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-name: spin;
  border: 3px solid $gray;
  border-radius: 50%;
  border-top-color: transparent;
  bottom: 0;
  content: '';
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.agents-ul {
  list-style-type: disc;
  padding-left: 20px;
}

.intro {
  margin-top: 20px;
}

.dl-horizontal dt,
.dl-horizontal dd {
  margin-bottom: 10px;
}

.error-message {
  color: $red;
}

.daterange-notice {
  clear: both;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 6px;
}
