//
//  Pageviews Analysis tool
//
//  Original code forked from https://gist.github.com/marcelrf/49738d14116fd547fe6d courtesy of marcelrf
//
//  Copyright 2016 MusikAnimal
//  Redistributed under the MIT License: https://opensource.org/licenses/MIT
//

@import 'shared';

// Fix chart position
.aqs-chart {
  margin-left: -12px;
}

.date-latest {
  float: right;
}

@each $type in ('line' 'bar' 'pie' 'doughnut' 'radar' 'polararea') {
  .#{$type}-legend {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 3px;
    padding: 0;

    li {
      display: inline-block;
      margin-bottom: 3px;
      margin-right: 15px;
    }

    .indic {
      border-radius: 3px;
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.modal-chart-type {
  display: inline-block;
  margin-right: -4px;
  padding: 10px;
  text-align: center;
  width: calc(100% / 3);

  img {
    height: 100%;
    width: 100%;
  }
}

.data-links {
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  position: relative;
}

.agents-ul {
  list-style-type: disc;
  padding-left: 20px;
}

.color-label {
  width: 100%;
}

.color-tile {
  display: inline-block;
  height: 20px;
  width: 10%;
}
