/ Mediaviews Analysis tool
/ Copyright 2016-2018 MusikAnimal
- require_once __DIR__ . '/../../config.php'
- $currentApp = 'mediaviews'
!!!
%html
  %head
    - include '../_head.php'
    %title= $I18N->msg( 'mediaviews-title' )
  %body(class="clearfix #{$rtl} #{$currentApp}")
    - include '../_header.php'

    %main.col-lg-12
      %div.text-center.text-danger(style="margin-top:50px; font-size:125%")
        %p
          Mediaviews has temporarily been
          %strong
            retired
          due to technical challenges.
        %p
          A long-term solution is tracked at
          <a href="https://phabricator.wikimedia.org/T207208" target="_blank">T207208</a> and
          <a href="https://phabricator.wikimedia.org/T210313" target="_blank">T210313</a>.
          %br
          If you have a Phabricator account, feel free to award a token to encourage progress.
        %p
          Apologies for the inconvenience.


    - include '../_footer.php'

    - include '../_modals.php'
