@import '../shared';
@import '../mixins';
@import '../list_view';
@import '../chart_view';

.article-badge {
  height: 20px;
  vertical-align: -5px;
  width: 20px;
}

.search-method-options {
  display: none;
}

.other-options-label {
  display: none;
}
