@import '../shared';
@import '../mixins';
@import '../list_view';
@import '../chart_view';

.output-params a {
  color: $bootstrap-gay;
}

.search-method-options {
  display: none;
}

.category-subject-toggle {
  margin: 0;
}

.massviews-source-input {
  .quarry-project {
    display: none;
  }

  &.quarry {
    .quarry-project {
      display: inline-block;
      width: 50%;
    }

    .source-input {
      width: 50%;
    }
  }
}
