@import '../shared';
@import '../mixins';
@import '../list_view';
@import '../chart_view';

.output-params a {
  color: $bootstrap-gay;
}

.search-method-options {
  display: none;
}

.category-subject-toggle {
  margin: 0;
}

.massviews-source-input {
  .project-input {
    display: none;
  }

  &.project-enabled {
    .project-input {
      display: inline-block;
      width: 50%;
    }

    .source-input {
      width: 50%;
    }
  }
}

.source-description {
  // display: none;
  margin-top: 5px;
  padding-left: 10px;

  .glyphicon {
    margin-right: 2px;
    top: 2px;
  }
}
