%li.list-group-item(id="counts")
  %p
    %strong= $I18N->msg( 'faq-counts-title' )
  %p
    - $definitionLink = "<a target='_blank' href='https://meta.wikimedia.org/wiki/Research:Page_view#Definition'>meta:Research:Page view</a>"
    = $I18N->msg( 'faq-counts-body', [ 'variables' => [ $definitionLink ] ] )
