%li.list-group-item(id="chart_type")
  %p
    %strong= $I18N->msg( 'faq-chart-type-title' )
  %p
    = $I18N->msg( 'faq-chart-type-body', array( 'variables' => array( $I18N->msg( 'change-chart' ) ) ) )
