{% set definitionLink %}
	<a target="_blank" href="https://meta.wikimedia.org/wiki/Research:Page_view">meta:Research:Page view</a>
{%- endset %}
<li class="list-group-item" id="counts">
	<p>
		<strong>{{ msg('faq-counts-title') }}</strong>
	</p>
	<p>{{ msg('faq-counts-body', [definitionLink]) }}</p>
</li>
