{% set definitionLink %}
	<a target="_blank" href="https://meta.wikimedia.org/wiki/Research:Wikipedia_clickstream">{{ msg( 'faq-referrals-clickstream' ) }}</a>
{%- endset %}
{% set wikiNavLink %}
	<a target="_blank" href="https://wikinav.toolforge.org">wikinav.toolforge.org</a>
{%- endset %}
<li class="list-group-item" id="referrals">
	<p>
		<strong>{{ msg('faq-referrals-title') }}</strong>
	</p>
	<p>{{ msg('faq-referrals-body', [definitionLink, wikiNavLink]) }}</p>
</li>
