{% set redirectViewsLink %}
	<a href="/redirectviews">{{ msg('redirectviews') }}</a>
{%- endset %}
<li class="list-group-item" id="search_redirects">
	<p>
		<strong>{{ msg('faq-search-redirects-title') }}</strong>
	</p>
	<p>{{ msg('faq-search-redirects-body', [msg('autocompletion-redirects'), msg('settings'), redirectViewsLink]) }}</p>
</li>
