@import '../shared';
@import '../mixins';

.chart-container {
  margin-top: 10px;
  padding: 0;
}

.topview-entry {
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  white-space: nowrap;

  &:hover {
    .topview-entry--rank {
      visibility: hidden;
    }

    .topview-entry--remove {
      display: block;
    }
  }
}

.topview-entry--remove {
  @include center('vertical');
  cursor: pointer;
  display: none;
  left: 10px;
}

.topview-entry--rank {
  float: left;
  font-weight: bold;
  margin-right: 8px;

  &::after {
    content: '.';
  }
}

.topview-entry--leader {
  background: url('/pageviews/images/dot.gif') repeat-x bottom;
  height: 16px;
  width: 100%;
}

.invalid-project {
  .select2-selection {
    opacity: .5;
    pointer-events: none;
  }

  .expand-chart {
    display: none;
  }
}
