@import '../shared';
@import '../mixins';

$gray: #ccc;

.chart-container {
  margin-top: 10px;
  padding: 0;
}

.topview-entry {
  background: $lighter-gray;
  display: table;
  margin-bottom: 20px;
  min-height: 100px;
  padding: 10px;
  position: relative;
  transition: all .5s ease-in;
  width: 100%;

  &:hover {
    .topview-entry--rank {
      visibility: hidden;
    }

    .topview-entry--remove {
      display: block;
    }
  }
}

.topview-entry--rank,
.topview-entry--remove {
  background: rgba(255, 255, 255, .5);
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  left: 10px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 30px;
}

.topview-entry--remove {
  cursor: pointer;
  display: none;
}

.topview-entry--image {
  background-position: 50%;
  background-size: cover;
  display: table-cell;
  width: 150px;
}

.topview-entry--details {
  display: table-cell;
  padding-left: 15px;
}

.topview-entry--label,
.topview-entry--views {
  font-size: 18px;
}

.topview-entry--intro {
  clear: both;
  margin-top: 10px;
}

.topview-entry--leader {
  background: url('/pageviews/images/dot.gif') repeat-x bottom;
  height: 16px;
  width: 100%;
}

// prevent Select2 from opening/closing
.select2-selection {
  // scss-lint:disable ImportantRule
  border-radius: 4px !important;
  pointer-events: none;
}

// scss-lint:disable SelectorFormat
.select2-selection__choice__remove {
  pointer-events: visible;
}

.select2-dropdown--below {
  display: none;
}

.show-more {
  display: none;
}

.chart-specific {
  display: none;
}

.search-method-options {
  display: none;
}

.search-topviews {
  .glyphicon {
    @include center('vertical');
    right: 10px;
  }

  .topviews-search-icon.glyphicon-remove {
    cursor: pointer;
    z-index: 10;
  }
}
