@import '../shared';
@import '../mixins';

$gray: #ccc;

.chart-container {
  margin-top: 10px;
  padding: 0;
}

.topview-entry {
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  transition: all .5s ease-in;
  white-space: nowrap;

  &:hover {
    .topview-entry--rank {
      visibility: hidden;
    }

    .topview-entry--remove {
      display: block;
    }
  }
}

.topview-entry--remove {
  @include center('vertical');
  cursor: pointer;
  display: none;
  left: 10px;
}

.topview-entry--rank {
  float: left;
  font-weight: bold;
  margin-right: 8px;

  &::after {
    content: '.';
  }
}

.topview-entry--leader {
  background: url('/pageviews/images/dot.gif') repeat-x bottom;
  height: 16px;
  width: 100%;
}

.invalid-project {
  .select2-selection {
    opacity: .5;
    pointer-events: none;
  }

  .expand-chart {
    display: none;
  }

  .data-links,
  .search-topviews {
    visibility: hidden;
  }
}

// prevent Select2 from opening/closing
.select2-selection {
  // scss-lint:disable ImportantRule
  border-radius: 4px !important;
  pointer-events: none;
}

// scss-lint:disable SelectorFormat
.select2-selection__choice__remove {
  pointer-events: visible;
}

.select2-dropdown--below {
  display: none;
}

.show-more {
  display: none;
}

.chart-specific {
  display: none;
}

.search-method-options,
.other-options-label {
  display: none;
}

.search-topviews {
  .glyphicon {
    @include center('vertical');
    right: 10px;
  }

  .topviews-search-icon.glyphicon-remove {
    cursor: pointer;
    z-index: 10;
  }
}
