@import '../shared';
@import '../mixins';

$gray: #ccc;

.chart-container {
  padding: 0;
}

.output-table {
  display: none;

  &.show-mobile .topview-entry--mobile {
    display: table-cell;
  }
}

.topview-entry--mobile {
  display: none;
}

.percent-mobile-wrapper {
  display: none;
}

.download-btn-group .dropdown-menu {
  left: auto;
  right: 0;
}

.topview-entry {
  height: 40px;
  line-height: 40px;
  overflow: auto;

  td {
    // override Bootstrap
    // scss-lint:disable ImportantRule
    vertical-align: inherit !important;
  }

  &:hover {
    .topview-entry--rank {
      visibility: hidden;
    }

    .topview-entry--remove {
      display: block;
    }
  }
}

.topview-entry--rank-wrapper {
  position: relative;
  width: 5%;
}

.topview-entry--remove {
  @include center('vertical');
  cursor: pointer;
  display: none;
}

.topview-entry--rank {
  font-weight: bold;

  &::after {
    content: '.';
  }
}

.topview-entry--background {
  height: 40px;
  left: 0;
  position: absolute;
  transition: all 1s ease;
  width: 0;
  z-index: -1;

  &.animate {
    width: 100%;
  }
}

.topview-entry--leader {
  background: url('/pageviews/images/dot.gif') repeat-x bottom;
  height: 16px;
  width: 100%;
}

// prevent Select2 from opening/closing
.select2-selection {
  // scss-lint:disable ImportantRule
  border-radius: 4px !important;
  pointer-events: none;
}

// scss-lint:disable SelectorFormat
.select2-selection__choice__remove {
  pointer-events: visible;
}

.select2-dropdown--below {
  display: none;
}

.show-more {
  display: none;
}

.chart-specific {
  display: none;
}

.search-method-options {
  display: none;
}

.search-topviews {
  .glyphicon {
    @include center('vertical');
    right: 10px;
  }

  .topviews-search-icon.glyphicon-remove {
    cursor: pointer;
    z-index: 10;
  }
}

.data-links {
  visibility: visible;
}

.complete {
  .show-more {
    display: block;
  }

  .output-table {
    display: table;
  }
}

.report-false-positive,
.list-false-positives {
  display: none;
}

.false-positive-list {
  input {
    margin-right: 5px;
  }

  label {
    font-weight: bold;
  }
}

.search {
  .output-table {
    display: table;

    .topview-entry--mobile,
    .topview-entry--edits,
    .topview-entry--editors {
      display: none;
    }
  }
}

.loading,
.reset {
  .form-wrapper {
    @extend %disabled;
  }

  .chart-container {
    @extend %disabled;
  }

  .data-links {
    visibility: visible;
  }
}

.loading {
  .output-table {
    display: table;
  }

  .chart-container::after {
    display: none;
  }

  main::after {
    @extend %loading;
    top: 250px;
  }
}

.message-container {
  margin-bottom: 10px;
}

.mainspace-only-option[type=checkbox] {
  margin-left: 10px;
}
